[include]
	path = /Users/l.spreitzer/.config/themes.gitconfig
[user]
	name = Lukas Spreitzer
	email = l.spreitzer@limesoda.com
[core]
	autocrlf = input
	attributesfile = /Users/l.spreitzer/.gitattributes
[pull]
	rebase = true
[delta]
	features = chameleon
[diff "lockb"]
	textconv = bun
	binary = true
