[user]
	signingkey = ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDHPwh6q6Xj40mQhBK5t6XGL96VCIJCyvcWL37vAInrhoTKkIafQr+lCiXT96Ve8D484cj3qS8yXfEWoqWfaLVcE++k7zwFxbgl7V6ql3OnxiJiK1xpgokH+oBmWsFijtauRHwFCboT2bZC+XgH/nTQuRLnrYJw6ATXp6XSimIBjb1lVWGudwzeu+ZMgnP2q5nEgZvVpP2bDmiEagan4Bf+hRcHYriH5NNjBjKC2JQGGNmZamLOOGAhtHoQggizGYqDsihnVZP2YbVlQZD/kcd8a1QZLMyWMtHAFAoXtjLsu9K1V5V66oQ7gnMBmT7E0z7/bUKSISfaauvh8vT2Llxd7RuXtbuvNTKgrlTEMiltnU7jsNPWiotfU0eY3DrmwaUTeU8GWBkQCfHQwW2ulzWeLwXI5ggZ6VxH8BOhe2NeHgBe4rvRfba1BdH9oCUbsyzjhlE6yBuQcAzEasJjQkvQWFIwWbl3LBLdmotIofu0ZBXZ7RbMTQlKxbBWfbR55Bk=
[commit]
	gpgSign = true

